<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <connectionStrings>
    <!-- MASTER CONTROLLER CONNECTION STRINGS -->
    <!--
    <add name="Westrock_PROD" connectionString="Data Source=192.168.1.205;Initial Catalog=Westrock;Persist Security Info=True;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    -->
    <add name="Westrock_PROD" connectionString="Data Source=localhost;Initial Catalog=Westrock;Persist Security Info=True;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
